<section class="admin_panel">
	<div class="button">
		<button id="admin-reports-button">VER TODOAS LAS NOTICIAS</button>
		<button id="admin-testimonials-button">VER TODOS LOS TESTIMONIOS</button>	
	</div>

	<section class="reports-index">
	  <h1>Lista de Todas las Noticias Publicadas</h1>

	  <table>
	    <thead>
	      <tr>
	        <th>Foto Principal</th>
	        <th>Titulo de la Noticia</th>
	        <th colspan="2"></th>
	      </tr>
	    </thead>

	    <tbody>
	      <% @reports.each do |report| %>
	        <tr>
	          <td><%= image_tag report.image_url() %></td>
	          <td><%= report.title %></td>
	          <td class="view-report"><%= link_to 'Ver esta Noticia', report %></td>
	          <td class="edit-report"><%= link_to 'Editar / Modificar', edit_report_path(report) %></td>
	          <td class="destroy-report"><%= link_to 'Destruir', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	        </tr>
	      <% end %>
	    </tbody>
	  </table>
	</section>

	<section class="testimonials-index">
	  <h1>Listing Testimonials</h1>

	  <table>
	    <thead>
	      <tr>
	        <th>Title</th>
	        <th>Family</th>
	        <th colspan="3"></th>
	      </tr>
	    </thead>

	    <tbody>
	      <% @testimonials.each do |testimonial| %>
	        <tr>
	          <td><%= testimonial.title %></td>
	          <td><%= testimonial.family %></td>
	          <td><%= link_to 'Show', testimonial %></td>
	          <td><%= link_to 'Edit', edit_testimonial_path(testimonial) %></td>
	          <td><%= link_to 'Destroy', testimonial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	        </tr>
	      <% end %>
	    </tbody>
	  </table>

	  <br>

	  <%= link_to 'New Testimonial', new_testimonial_path %>  
	</section>

	<script>
		document.getElementById("admin-reports-button").onclick = function() {
			document.getElementsByClassName("reports-index")[0].style.display = "block";
		}
		document.getElementById("admin-testimonials-button").onclick = function() {
			document.getElementsByClassName("testimonials-index")[0].style.display = "block";
		}
	</script>
</section>