<section class="colaboradores_2">
	<div class="row">
		<div class="info_colaborador">
			<h2>Fundación Los Pisingos (Colombia)</h2>

			<p>Fundación Los Pisingos fue creada en Mayo de 1968, por un grupo de 22 matrimonios quienes decidieron unir esfuerzos para desarrollar actividades de proyección social. En 1971, la institución fue legalizada con la expedición de la Personería Jurídica a lo que inicialmente se llamó ASOCIACION LOS PISINGOS. Esta Asociación tenía como misión prestar ayuda a niñas, niños y jóvenes de ambos sexos, en materia de educación, formación, capacitación y rehabilitación. En 1974, se cambia la razón social por la de FUNDACION LOS PISINGOS y se crea el programa de adopciones, con el propósito de brindar a niños y niñas en situación de abandono, remitidos por el ICBF, DABS y la Beneficencia de Cundinamarca, una familia permanente que reuniera los requisitos emocionales, sociales y afectivos y quienes a la vez desearan conformarse como familia mediante la adopción. <%= link_to "www.lospisingos.com", "http://lospisingos.com" %></p>
		</div>
		<div class="logo_colaborador pisingos">
			<img src="https://s3-us-west-2.amazonaws.com/relacadop/colaboradores/logo_pisingos.png" alt="logo_pisingos">
		</div>
	</div>

	<div class="row">
		<div class="logo_colaborador fana">
			<img src="https://s3-us-west-2.amazonaws.com/relacadop/colaboradores/logo_fana.png" alt="logo_fana">
		</div>
		<div class="info_colaborador">
			<h2>Fundación para la Asistencia de la Niñez Abandonada “FANA” (Colombia)</h2>

			<p>FANA es la Fundación para la Asistencia de la Niñez Abandonada, fundada en el año 1971 por doña Mercedes Pineda de Martínez. Es una institución social de carácter privado sin ánimo de lucro, que se dedica a la protección integral de niñas y niños. En FANA se fortalecen los sistemas familiares para convertirlos en garantes de derechos y así los niños en el seno de su familia pueden desarrollar sus potenciales y ser felices. FANA brinda servicios de protección, nutrición y educación inicial de óptima calidad a todos los niños y niñas que ingresan a la institución y contribuye así a resolver su situación de vulnerabilidad y a restituir sus derechos. La meta de FANA es trabajar con los niños que lo necesitan, sus familias y la comunidad para mejorar su calidad de vida y asegurar su adecuado desarrollo. <%= link_to "www.fundacionfana.org", "http://fundacionfana.org" %></p>
		</div>
	</div>

	<div class="row">
		<div class="info_colaborador">
			<h2>PROADOPCION (VENEZUELA)</h2>

			<p>PROADOPCION, es una institución de la sociedad civil venezolana, registrada en la República Bolivariana de Venezuela, Ministerio de Interior y Justicia, en el año 2002. PROADOPCION ha acumulado logros importantes en materia de adopción. Goza de un legítimo prestigio como ONG articuladora de importantes esfuerzos privados, públicos, gubernamentales y no gubernamentales a favor de cambios fundamentales en algunas imágenes y patrones colectivos de conducta. Y su experiencia en materia de adopción, es una enriquecedora referencia tanto en territorio venezolano, como a nivel de nuestro continente y del mundo, <%= link_to "www.proadopcion.org", "http://proadopcion.org" %></p>
		</div>
		<div class="logo_colaborador proadopcion">
			<img src="https://s3-us-west-2.amazonaws.com/relacadop/colaboradores/logo_proadopcion.png" alt="logo_proadopcion">
		</div>
	</div>

	<div class="parallax_colaboradores_2"></div>
	
	<div class="row">
		<div class="logo_colaborador observa">
			<img src="https://s3-us-west-2.amazonaws.com/relacadop/colaboradores/logo_observa.png" alt="logo_observa">
		</div>
		<div class="info_colaborador">
			<h2>OBSERVA: El Derecho de Vivir en Familia (Chile)</h2>

			 <p>OBSERVA: El Derecho de Vivir en Familia, se inserta en el área de advocacy de Aldeas Infantiles SOS que -en sociedad con terceros fuera de la organización- busca generar los cambios legales y/o programáticos que permitan cumplir con los objetivos declarados. Tiene como finalidad contribuir a mejorar las políticas públicas y la ejecución de los programas orientados a los niños, niñas y adolescentes privados de cuidados parentales o en riesgo de estarlo, para la restitución de su derecho a vivir en el seno de una familia, en el marco de la CDN y las Directrices sobre Modalidades Alternativas de Cuidado de los Niños de Naciones Unidas. El Comité Ejecutivo de OBSERVA esta integrado por; Fundación Mi Casa, Fundación María Ayuda, Fundación Chilena de la Adopción, Hogar de Cristo, Aldeas Infantiles SOS y Fundación Pléyades. <%= link_to "www.observaderechos.cl", "http://observaderechos.cl" %></p>
		</div>
	</div>
	
	<div class="row">
		<div class="info_colaborador">
			<h2>Fundación Chilena de la Adopción (Chile)</h2>

			<p>Fundación Chilena de la Adopción es una institución privada, sin fines de lucro,  fundada por la abogada doña Delia Moreno, en el año 1985, fue acreditada por el organismo central de Chile, Servicio Nacional de Menores (SENAME) para ejecutar programas de adopción. Su objetivo es ser una instancia de coordinación y asesoría integral a nivel nacional, para quienes busquen una forma distinta de hacer familia a través de la adopción. Cuenta con un programa de atención integral, que incorpora a todos los actores que intervienen en este importante proceso. <%= link_to "www.fadop.cl", "http://fadop.cl" %> </p>
		</div>
		<div class="logo_colaborador fadop">
			<img src="https://s3-us-west-2.amazonaws.com/relacadop/colaboradores/logo_fadop.png" alt="logo_fadop">
		</div>
	</div>

	<div class="row">
		<div class="logo_colaborador ayudame">
			<img src="https://s3-us-west-2.amazonaws.com/relacadop/colaboradores/logo_ayudame.png" alt="logo_ayudame">
		</div>
		<div class="info_colaborador">
			<h2>Asociación Amigos del Niño “AYUDAME” (Colombia)</h2>

			<p>Asociación Amigos del Niño “AYUDAME” , fue fundada en el año 1977, dando vida a una guardería para atender niños y niñas de 0 a 7 años en el barrio Casablanca en la localidad de Suba en Bogotá, Colombia. Después de 2 años se estableció como hogar, ofreciendo protección a niños y niñas en estado de vulnerabilidad. En el año 1982 el Instituto Colombiano de Bienestar Familiar –ICBF- concede a AYUDAME la licencia para desarrollar el programa de adopción. Su  misión es brindar protección y atención integral a niños y niñas entre 0 y 8 años, busca familias idóneas para los niños y niñas con situación de adoptabilidad y propicia la restitución de derechos de las madres gestantes en situación de riesgo y/o abandono. <%= link_to "www.asociacionayudame.org", "http://asociacionayudame.org" %></p>
		</div>
	</div>

		<div class="row">
		<div class="info_colaborador">
			<h2>Casa de la Madre y el Niño (Colombia)</h2>

			<p>Es una institucion sin fines de lucro que fue fundada hace 73 años por Maria Lopez Michelsen, quien tuvo la mision de unir padres de familia que buscan el amor de un hijo con niños en estado de abandono que buscan el calor y la proteccion de un hogar. <%= link_to "www.la-casa.org", "http://la-casa.org" %> </p>
	
		</div>
		<div class="logo_colaborador fadop">
			<img src="https://s3-us-west-2.amazonaws.com/relacadop/colaboradores/logo_fadop.png" alt="logo_fadop">
		</div>
	</div>


	<div class="row">
		<div class="logo_colaborador fadop">
			<img src="https://s3-us-west-2.amazonaws.com/relacadop/colaboradores/logo_fadop.png" alt="logo_fadop">
		</div>
		<div class="info_colaborador">
			<h2>Agrupación de Representantes de Organismos Extranjeros en Adopcion - AROE Adop</h2>

			<p>Es una agrupación sin fines de lucro que nace con el motivo de ser un referente dentro del mundo de la Adopciónes. Lo componen respresentantes de 7 países extranjeros (Alemania, Australia, Bélgica, Francia, Italia, Nueva Zelandia y Noruega) los cuales median en adopción en Chile. Nuestro principal objetivo es compartir la experiencia y conocimientos en materias de adopción internacional, dando a lugar tanto a la reflexión como a la unión de conocimientos tanto por parte de nuestros propios miembros como el resto de la sociedad civil. Como agrupación buscamos compartir nuestra experiencia de una forma positiva y profesional. </p>
	
		</div>
	</div>

	<%= link_to pages_colaboradores_path do %>
		<div class="one">1</div>
	<% end %>
	<%= link_to pages_colaboradores_2_path do %>
		<div class="two">2</div>	
	<% end %>

	<script>
		$(document).ready(function() { 
			if(document.URL.includes("colaboradores_2")) {
				document.getElementsByClassName("two")[0].style.backgroundColor = "#66cccc";	
			} else if (document.URL.includes("colaboradores")) {
				document.getElementsByClassName("one")[0].style.backgroundColor = "#66cccc";
			}
		});

	</script>

<!-- 	<div class="row">
		<div class="logo_colaborador">
			<img src="" alt="">
		</div>
		<div class="info_colaborador">
			<h2>Asociación ACOGIENDO.  (Perú)</h2>

			<p>Asociación Acogiendo es una organización civil sin fines de lucro, fundada en el mes de Agosto de 2015, constituida con la finalidad de realizar incidencia en la construcción de políticas públicas y en la vigilancia del cumplimiento de los derechos de las personas, especialmente de los niños, niñas y adolescentes, así como en la promoción, desarrollo e implementación de programas y proyectos que permitan a la población alcanzar su desarrollo integral, apoyando y fomentando el desarrollo humano, social y cultural de niños, niñas y adolescentes que se encuentren en situación de riesgo social y desprotección familiar.</p> 
		</div>
	</div>-->


	
	
	
</section>

