<section class="colaboradores">
	<h1>Instituciones Asociadas a la RELAC ADOP</h1>

	<div class="row">
		<div class="logo_colaborador">
			<img src="https://s3-us-west-2.amazonaws.com/relacadop-static-assets/colaboradores/Grada.png" alt="grada_logo" class="big">
		</div>
		<div class="info_colaborador">
			<h2>Corporación de Desarrollo Grada. (Chile)</h2>

			<p>Coración de Desarrollo GRADA, “Grupo de Apoyo al Desarrollo Autogestionado”, es una institución sin fines de lucro, con personalidad jurídica desde 1996, cuyo  objeto es el desarrollo de programas, estudios e investigaciones relacionadas con la promoción y desarrollo de las personas (especialmente niños/as y jóvenes), familias, grupos y comunidades que viven en condiciones de pobreza y/o marginalidad. <%= link_to "www.grada.cl", "http://grada.cl" %></p>
		</div>
	</div>

	<div class="row">
		<div class="info_colaborador">	
			<h2>Fundación Pléyades (Chile).</h2>

			<p>Fundación Pléyades es una organización privada sin fines de lucro, constituida mediante Escritura Pública de fecha 3 de septiembre de 2002; obteniendo su personalidad jurídica mediante Decreto N°1152 del Ministerio de Justicia de fecha 18 de diciembre de 2003.  Tiene por misión trabajar en la restitución de los derechos vulnerados en niños que han sido expuestos a situaciones de riesgo, buscando que puedan contar con un espacio familiar de afecto y protección.  <%= link_to "www.fundacionpleyades.cl", "http://fundacionpleyades.cl" %></p>
		</div>

		<div class="logo_colaborador">
			<img src="https://s3-us-west-2.amazonaws.com/relacadop-static-assets/colaboradores/logo_pleyades.png" alt="" class="big">
		</div>
	</div>


	<div class="row">
		<div class="logo_colaborador">
			<img src="https://s3-us-west-2.amazonaws.com/relacadop-static-assets/colaboradores/cran.png" alt="" class="big">
		</div>
		<div class="info_colaborador">
			<h2>Fundación Centro para el Reintegro y Atención del Niño “CRAN”. (Colombia)</h2>

			<p>La Fundación CRAN es una organización social sin ánimo de lucro cuya misión es contribuir a que los niños, niñas y adolescentes crezcan en un entorno familiar y social amoroso y cuidador que les permita ejercer plenamente sus derechos y ser felices. Su enfoque de trabajo es el concepto de protección integral, que se concreta fundamentalmente en tres áreas: restablecimiento y garantía de derechos, inclusión social y prevención. <%= link_to "www.cran.org.co", "http://cran.org.co" %> </p>	
		</div>
	</div>

	<div class="parallax_colaboradores_1"></div>

	<div class="row">
		<div class="info_colaborador">
			<h2>Fundación Hogar Esperanza (Chile)</h2>

			<p>Fundación Hogar Esperanza, es una organización social sin fines de lucro, cristiana de inspiración lasallista. Su principal objetivo es acoger a lactantes, niños y jóvenes vulnerados en sus derechos, entregándoles un ambiente familiar, con amor y donde se satisfacen las necesidades básicas de los niños. El trabajo de Fundación Hogar Esperanza,  responde a las siguientes preguntas, "si mi hijo tuviese que vivir en este hogar, ¿cómo me gustaría que fuera acogido? ¿Qué debiese tener?". Cuentan con dos casas, una con capacidad para 24 lactantes y preescolares y la segunda que puede acoger a 8 niños y jóvenes. <%= link_to "www.hogaresperanza.cl", "http://hogaresperanza.cl" %></p>
		</div>
		<div class="logo_colaborador">
			<img src="https://s3-us-west-2.amazonaws.com/relacadop-static-assets/colaboradores/esperanza.png" alt="" class="small">
		</div>
	</div>

	
	<div class="row">
		<div class="logo_colaborador">
			<img src="https://s3-us-west-2.amazonaws.com/relacadop-static-assets/colaboradores/fundacion_mi_casa.png" alt="" class="small">
		</div>
		<div class="info_colaborador">
			<h2>Fundación Mi Casa. (Chile)</h2>
			<p>Fundación Mi Casa,  es una organización sin fines de lucro fundada por el Padre Alfredo Ruiz-Tagle en el año 1947, fue reconocida como organismo colaborador del Servicio Nacional de Menores el 17 de julio de 1967. En la actualidad la Fundación cuenta con 60 proyectos a nivel nacional, brindando sus servicios profesionales a uno 6.000 niños, niñas, adolescentes y sus familias. A su vez, Fundación Mi Casa logra acreditarse ante el Servicio Nacional de Menores, a partir de agosto de 2008, como organismo privado para desarrollar un Programa de Adopción, tanto a nivel nacional como internacional. <%= link_to "www.fundacionmicasa", "http://fundacionmicasa.cl" %></p>
		</div>
	</div>

	<div class="row">
		<div class="info_colaborador">
			<h2>Corporación Casa de María y el Niño (Colombia)</h2>

			<p>Corporación Casa de María y el Niño, se funda en el año 1980, iniciándose los trámites ante el Instituto Colombiano de Bienestar Familiar -ICBF- para la consecución de la licencia de funcionamiento que se consiguió en mayo de 1981. A partir de ese momento, se han hecho realidad numerosos procesos de adopción tanto con ciudadanos colombianos como con extranjeros.  La Corporación Casa de María y el Niño es una institución sólida y reconocida por la atención profesional de niños y niñas bajo su protección y por su participación en programas de fortalecimiento a la familia. <%= link_to "www.casademariayelniño.org", "http://casademariayelniño.org " %></p>
		</div>
		<div class="logo_colaborador">
			<img src="https://s3-us-west-2.amazonaws.com/relacadop-static-assets/colaboradores/logo_maria.png" alt="logo_maria" class="small">
		</div>
	</div>

	<%= link_to pages_colaboradores_path do %>
		<div class="one">1</div>
	<% end %>
	<%= link_to pages_colaboradores_2_path do %>
		<div class="two">2</div>	
	<% end %>
	<script>
		$(document).ready(function() { 
			if(document.URL.includes("colaboradores_2")) {
				document.getElementsByClassName("two")[0].style.backgroundColor = "#66cccc";	
			} else if (document.URL.includes("colaboradores")) {
				document.getElementsByClassName("one")[0].style.backgroundColor = "#66cccc";
			}
		});

	</script>
</section>





