<section class="noticias">
	<% @reports.each do |report| %>
	<div class="report-template">
		<h2><%= report.title %></h2>
		<div class="main-image">
			<%= image_tag report.image_url() %>	
		</div>
		<p class="report-headliner"><%= report.headliner %></p>
		
		<button class="read_more">Seguir Leyendo...</button>
		<div class="more_text w3-animate-opacity">
			<p class="report-content"><%=raw report.content %></p>
			<div class="extra-images">
				<div>
					<% if report.image_two_url() != "/fallback/default.png" %>
						<%= image_tag report.image_two_url() %>	
					<% end %>
					<% if report.image_three_url() != "/fallback/default.png" %>
						<%= image_tag report.image_three_url() %>		
					<% end %>
				</div>
				<div>
					<% if report.image_four_url() != "/fallback/default.png" %>
						<%= image_tag report.image_four_url() %>	
					<% end %>
					<% if report.image_five_url() != "/fallback/default.png" %>
						<%= image_tag report.image_five_url() %>		
					<% end %>
				</div>
				<div>
					<% if report.image_six_url() != "/fallback/default.png" %>
						<%= image_tag report.image_six_url() %>	
					<% end %>
					<% if report.image_seven_url() != "/fallback/default.png" %>
						<%= image_tag report.image_seven_url() %>		
					<% end %>
				</div>
				<div>
					<% if report.image_eight_url() != "/fallback/default.png" %>
						<%= image_tag report.image_eight_url() %>	
					<% end %>
					<% if report.image_nine_url() != "/fallback/default.png" %>
						<%= image_tag report.image_nine_url() %>		
					<% end %>
				</div>
			</div>
		</div>
		<div class="horizontal_line"></div>
	</div>
	<% end %>	
	<div class="noticia_congreso_colombia">
		<h2>Primer Congreso Latinoamericano de Adopciones</h2>
		<img src="https://s3-us-west-2.amazonaws.com/relacadop/Agenda-Contacto.png">
		<p>El equipo de Relac Adop estara participando en el primer congreso latinoamericano de adopciones, que se realizará este 27 y 28 de Octubre en Bogotá, Colombia. Dentro de los objetivos, esta atraer jueces, defensores de familia, empresa privada y los medios para elevar el debate de los derechos de los niños vulnerados y de adopción en Colombia. Tambien dejar un aporte académico y una discusión abierta para el mejoramiento del proceso de adopción en Colombia y América Latina.</p>	
	</div>

	<div class="horizontal_line"></div>
	
	<div class="noticia_haya">
		<h2>Participacion de la Relac Adop en la Cuarta Comisión Especial Sobre la Aplicación Practica del Convenio de la Haya de 1993.</h2>
		<img src="https://s3-us-west-2.amazonaws.com/relacadop/todos.png" alt="todos">
		
		<p>Delia Del Gatto Reyes, Presidenta y Raquel Morales Ibáñez, Directora Ejecutiva de la Red de Organismos de Adopción a nivel Latinoamericano, (Relac-Adop), en el marco del Convenio de la Haya de 1993 sobre Protección del Niño y Cooperación en materia de Adopción Internacional, RELAC-ADOP, participaron en calidad de Observadores -del 8 al 12 de junio de 2015- en la Cuarta Comisión especial sobre la aplicación práctica del mencionado Convenio, la que se llevó a cabo en la  Conferencia de La Haya de Derecho Internacional Privado, Holanda.
		La agenda de trabajo, en los cinco días de la comisión, estuvo centrada principalmente en:</p>
		 
		<button class="read_more">Seguir Leyendo...</button>
		<div class=" w3-animate-opacity">
			<ul>
				<li>Evaluación del impacto de la implementación del Convenio en las legislaciones y en las prácticas en materia de adopción internacional (abordaje del principio de la subsidiariedad, cómo abordar los desafíos de la realidad cambiante de la A.I</li> <br>
				<li>Adopción Internacional de niños con necesidades especiales (distintas definiciones, establecimiento de procedimientos específicos para la A.I., de NNE; determinación de la adoptabilidad; preparación de los NNE, evaluación, preparación de los FPA, búsqueda de familias adoptivas idóneas para NNE)</li> <br>
				<li>Cuestiones que se suscitan después de la A.I. (Servicios post adoptivos, abordaje de los fracasos y la búsqueda de origen del niño (por medios de tecnología moderna, en especial las redes sociales)</li> <br>
				<li>Movilidad y Globalización (Desafíos de los Estados enfrentan en materia de A.I., como consecuencia del incremento en el movimiento transfronterizo de personas, Factores para determinar la residencia habitual de las partes involucradas).</li><br>
				<li>Cuestiones específicas relativas a: cooperación entre países, a los procedimientos, Tecnologías modernas en especial las redes sociales, cuestiones económicas, prevención y lucha contra las practicas ilícitas.</li>
			</ul>
			<div class="haya_pics">
				<img src="https://s3-us-west-2.amazonaws.com/relacadop/noticia_haya/haya_delia.png">
				<p>Delia Del Gatto</p>
				<img src="https://s3-us-west-2.amazonaws.com/relacadop/noticia_haya/haya_raquel.png" alt="haya_raquel">			
				<p>Raquel Morales</p>
				<img src="https://s3-us-west-2.amazonaws.com/relacadop/noticia_haya/haya_raquel_brigitta.png" alt="raque_brigitta">
				<p>Raquel Morales y Brigitta Lewistong</p>
				<img src="https://s3-us-west-2.amazonaws.com/relacadop/noticia_haya/haya_main.png" alt="seminario" class="haya_main">
			</div>	
			
		</div>
		
	</div>

	<div class="horizontal_line"></div>

	<div class="noticia_seminario">
		<h2>Relac Adop en el Seminario Internacional de Adopción</h2>
		<img src="https://s3-us-west-2.amazonaws.com/relacadop/noticia_seminario/seminario_main.png" alt="seminario_main">
		<h5>Diciembre 2015</h5>
		<p>Bajo el Patrocinio de Unicef, Fundación Telefónica, Adoptions Centrum, International Social Services, Archi, entre otros, se realizó en el mes de diciembre recién pasado, el V Seminario Internacional de Adopción, “La Adopción, una opción permanente, a la luz de la ley de garantía de los derechos de los niños, niña y adolescentes”. El Seminario fue organizado por el Programa de Adopción de Fundación Mi Casa en conjunto con la Fundación Chilena de la Adopción, (Fadop) y Relac Adop, (Red Latinoamericana de Cooperación en el Ámbito de la Adopción).</p>	

		<button class="read_more">Seguir Leyendo...</button>
		<div class=" w3-animate-opacity">
			<div class="seminario_first_row">
				<div class="image">
					<img src="https://s3-us-west-2.amazonaws.com/relacadop/noticia_seminario/Maria-Elena-Gonzalez.png">
					<p>Maria Elena Gonzales</p>	
				</div>
				<p>Muchos años de investigación y reflexión han llegado a la conclusión que los niñ@s necesitan para su sano desarrollo un Ambiente Mínimo Esperable (A.M.E.); Ese ambiente se relaciona con las necesidades ancestrales de experimentar relaciones de cuidado estable, continuo, específico, predecible comprometido y libre de estrés.</p>	
			</div>
			
			<p>Desafortunadamente en el mundo de hoy, miles de niñ@s no tienen ese tipo de ambiente y es más, un procentaje de ellos han tenido que experimentar la separación permanente de su contexto familiar biológico, por situaciones de maltrato grave, negligencia severa, abandono por parte de sus padres. Si bien en estos casos en un primer momento se han debido aportar soluciones provisionales, estas últimas deben tener como objetivo prioritario la reinserción del niño o niña en su familia de origen o la búsqueda de una opción permanente como es la adopción, una opción que les brinde el amor, la protección, cuidado y la felicidad que se merecen.</p> 
			<div class="seminario_second_row">	
				<p>Considerar el interés superior del niño, ( Artículo 21 de la Convención Internacional sobre los Derechos del Niño), debe ser la inspiración para todos los actores de la sociedad actual a velar por su protección y cuidado, (autoridades legislativas, judiciales o administrativas, organizaciones civiles, instituciones privadas, padres o las personas que tengan legalmente su cuidado).</p>
				<div class="image">
					<img src="https://s3-us-west-2.amazonaws.com/relacadop/noticia_seminario/Marisol-Heresmann.png">
					<p>Marisol Heresmann</p>
				</div>
			</div>

			<p>Destacados expositores nacionales y extranjeros con una vasta trayectoria profesional vinculada a las tematicas de la infancia dieron vida a esta enriquecedora jornada: Jesús Palacios, Doctor en Psicología y Docente de la Universidad de Sevilla, Cristina Baglietto, Asesor legal del Servicio Internacional de México, Eda Aguilar, Abogada Ex Directora Nacional de Adopciones de Perú, Birgitta Lewistong, Coordinadora de Programas de Adopción y Consejero Senior de Adoptions Centrum de Suecia, Gonzalo Gutierrez, Economista, Director Ejecutivo de CRAN Colombia. De Chile Gloria Negroni, Juez de Familia, Claudia Negroni, Diputada Miembro de la Comisión de Familia, Felipe Lecannelier, Doctor en Psicología, Marisol Heresmann, Presidenta Agrupación de Organismos Extranjeros de Adopción en Chile.</p>
			<div class="seminario_pics">
				<img src="https://s3-us-west-2.amazonaws.com/relacadop/noticia_seminario/foto_seminario.png">
				<img src="https://s3-us-west-2.amazonaws.com/relacadop/noticia_seminario/foto_seminario_2.png">
			</div>	
			
		</div>	
	</div>
	
	<div class="horizontal_line"></div>

	<div class="noticia_primera_asamblea">
		<h2>Celebración Primera Asamblea Relac Adop</h2>
		<img src="https://s3-us-west-2.amazonaws.com/relacadop/noticia_primera_acta/primera_acta_1.png">
		<p>3 de Diciembre de 2015</p>
		<p>Se celebra la primera asamblea donde se establece la Junta Directiva y los objetivos a lograr. </p>	

		<button class="read_more">Seguir Leyendo...</button>
		<div class=" w3-animate-opacity">
				<h3>Acta Primera Asamblea General RELAC ADOP</h3>
				<p>03 De Diciembre del 2015</p>
				<p>Santiago, de Chile</p>

				<h2>Junta directiva actual</h2>

				<p>Presidente, Delia Del Gatto, Fundación Mi Casa - Chile</p>
				<p>Vicepresidente, Gonzalo Gutierrez, Fundación CRAN – Colombia.</p>
				<p>Directora honorifica, Brigitta Löwstedt, Centro Sueco de Adopción  - Suecia</p>
				<p>Directora ejecutiva, Raquel Morales, Fundación Mi Casa - Chile</p>

				<h2>Miembros de la red</h2>

				<p>Eda Aguilar, Corporación Acogiendo derechos – Perú.</p>
				<p>Rosario Correa, Corporación GRADA – Chile.</p>
				<p>Jorge Davello, Fundación Hogar Esperanza – Chile.</p>
				<p>Anita Leal, Fundación Pléyade – Chile. (no asiste)</p>
				<p>Alejandra Riveros,  Secretaria Técnica de OBSERVA – Chile.</p>
				<p>Delia del Gatto, Fundación Chilena de la adopción – Chile.</p>
				<p>María Elena González Fundación Chilena de la adopción – Chile.</p>
				<p>Marysol Heresmann, Agrupación Organismos Extranjeros</p>
				<p>Ximena Calcagni, Fundación San José – Chile.</p>
				<p>José Gregorio Fernández, Pro adopción – Venezuela (justifico su inasistencia)</p>

				<h2>Objetivos de la asamblea</h2>

				<ul>
					<li>Presentación de la RELAC ADOP y  su Participación en la 4ta Comisión Especial en la     Conferencia de La Haya de Derecho Internacional Privado.</li>
					<li>- Aprobación de los objetivos de la Red, Y designación junta directiva 2016-2017</li>
					<li>Aprobación de Agenda de actividades 2016-2017</li>       
				</ul>


				<h2>Acuerdos</h2>

				<p>Los miembros de la red latinoamericana han acordado con fecha 03 de diciembre del 2015 aprobar los siguientes acuerdos:</p>

				<p>Se ratifica la actual Junta Directiva, para el periodo 2016-2017, incorporándose como miembro de la misma doña Eda Aguilar, representante de Corporación  Acogiendo Derechos, de Perú.</p>



				<img src="https://s3-us-west-2.amazonaws.com/relacadop/noticia_primera_acta/primera_acta_2.png">	

				<h4>I. Se aceptan los siguientes objetivos 2016-2017: (USAR EN REEMPLAZO DE PRINCIPIOS)</h4>

				<p>Promover la institución de la adopción como una opción legítima de restitución del derecho básico de todo niño o niña a vivir en familia, en consideración a su Interés Superior y de acuerdo con el principio de Subsidiariedad.</p>

				<p>Potenciar las sinergias y el poder influenciador de los Organismos de la sociedad civil  en el marco del desarrollo de políticas sociales, comunicacionales y de difusión en temáticas propias de protección y de la adopción de niñas y niños.</p>

				<p>Coordinar acciones que permitan contar con un modelo de cooperación efectiva entre ellos y lograr un posicionamiento común, ante órganos e instancias internacionales.</p>

				<p>Lograr una cooperación mutua tendiente a intercambiar experiencias, conocimientos, buenas prácticas, pasantías, entre otras, a fin de fortalecer el trabajo técnico y un posicionamiento común ante la Oficina Permanente de La Haya.</p>

				<p>Diseñar una agenda de trabajo común entre los organismos participantes a efectos de compartir los logros alcanzados y disponer de una instancia de consulta técnica permanente.</p>

				<p>Difundir información a través de una publicación que dará a conocer las experiencias de los organismos participantes.</p>

				<p>Fomentar encuentros  con otros actores, tanto nacionales como extranjeros, que se repliquen periódicamente.<p>

				<p>Compartir, analizar y sistematizar las buenas prácticas en materias de adopción Nacional e Internacional.</p>

				<h4>II. Generar la articulación de los estatutos que regirán a la RELAC-ADOP como organismo internacional.</h4>

				<h4>III. Construcción de un Website que permita la visibilidad de la RELAC-ADOP</h4> 

				<h4>IV. Definir los lineamientos asociados al financiamiento de la RELAC-ADOP</h4>

				<h4>V. Replicar la experiencia de un “Artadopt” como promoción de la adopción por medio de la RELAC ADOP.</h4>

				<h4>VI. Replicar el acuerdo número V. A nivel de establecimientos educacionales.</h4>


				<h4>VII. Generar la conversación en torno a las siguientes propuestas: Promover un cambio en la mirada de la parentalidad adoptiva, Abordaje en relación al acompañamiento; trazar intervenciones en relación a la reincersión de NNA con sus familias biológicas; estudios de habilidades parentales.</h4>

				<h4>VIII. Promover la conversación de experiencias institucionales que puedan ser articuladas a nivel macro.</h4>

				<h4>IX. Mantener una comunicación fluida con los organismos rectores de cada país que participen de la RELAC-ADOP.</h4>

				<h4>X. Evaluar la posibilidad de definir personalidad Jurídica</h4>

				<h4>XI. El próximo encuentra será realizado en noviembre del 2016 en Colombia.</h4>

				<h4>XII. Invitación a Instituto de Colonias y Campamentos (ICYC)</h4>
		</div> 
		
		
	</div>

	<%= will_paginate @reports, previous_label: 'Anterior', next_label: 'Siguiente' %>
	<img src="https://s3-us-west-2.amazonaws.com/relacadop/4+nin%CC%83os.svg" alt="">
	<script>
		var reportsArray = document.getElementsByClassName('report-template');
		Array.prototype.forEach.call(reportsArray, function(report) { 
		    report.childNodes[7].addEventListener('click', function(){
				report.childNodes[9].style.display = 'block';
			});
		});
	</script>
	
</section>
