<%= form_for(@testimonial) do |f| %>
  <% if @testimonial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@testimonial.errors.count, "error") %> prohibited this testimonial from being saved:</h2>

      <ul>
      <% @testimonial.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field testimonial-field">
    <%= f.label :titulo %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field testimonial-field">
    <%= f.label :contenido %><br>
    <%= f.trix_editor :content, rows: "10" %>
  </div>
  <div class="field testimonial-field">
    <%= f.label :familia %><br>
    <%= f.text_field :family %>
  </div>
  <div class="actions testimonial-action">
    <%= f.submit "Publicar Testimonio"%>
  </div>
<% end %>
