<p id="notice"><%= notice %></p>

<section class="testimonials-index">
  <h1>Lista de todos los testimonios</h1>

  
  <table>
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Familia</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @testimonials.each do |testimonial| %>
        <tr>
          <td><%= testimonial.title %></td>
          <td><%= testimonial.family %></td>
          <td><%= link_to 'VER', testimonial %></td>
          <td><%= link_to 'EDITAR', edit_testimonial_path(testimonial) %></td>
          <td><%= link_to 'DESTRUIR', testimonial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table> 
  
</section>
