<p id="notice"><%= notice %></p>

<section class="show-testimonial">
	<p>
	  <strong>Titulo:</strong>
	  <%= @testimonial.title %>
	</p>

	<p>
	  <strong>Contenido:</strong>
	  <p><%= @testimonial.content %></p>
	</p>

	<p>
	  <strong>Familia</strong>
	  <%= @testimonial.family %>
	</p>
	<div class="actions">
		<button><%= link_to 'Editar este testimonio', edit_testimonial_path(@testimonial) %></button>
		<button><%= link_to 'regresar a todos los testimonios', testimonials_path %></button>
	</div>
</section>
