<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo_de_la_noticia %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :extracto %><br>
    <%= f.text_area :headliner, rows: 4 %>
  </div>
  <div class="field">
    <%= f.label :contenido %><br>
    <%= f.cktext_area :content, rows: 10 %>
  </div>
  <div class="field" id="main-image-field">
    <p>Imagen Principal</p>
    <%= f.file_field :image %>
  </div>
  <div class="field" id="secondary-image-field">
    <p>Imagenes Secundarias</p>
    <%= f.file_field :image_two %>
    <%= f.file_field :image_three %>
    <%= f.file_field :image_four %>
    <%= f.file_field :image_five %>
    <%= f.file_field :image_six %>
    <%= f.file_field :image_seven %>
    <%= f.file_field :image_eight %>
    <%= f.file_field :image_nine %>
  </div>
  <div class="actions">
    <%= f.submit "Publicar" %>
  </div>
<% end %>
