<p id="notice"><%= notice %></p>
  <section class="reports-index">
  <h1>Lista de Todas las Noticias Publicadas</h1>

  <table>
    <thead>
      <tr>
        <th>Foto Principal</th>
        <th>Titulo de la Noticia</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @reports.each do |report| %>
        <tr>
          <td><%= image_tag report.image_url() %></td>
          <td><%= report.title %></td>
          <td><%= link_to 'Ver esta Noticia', report %></td>
          <td><%= link_to 'Editar / Modificar', edit_report_path(report) %></td>
          <td><%= link_to 'Destruir', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Report', new_report_path %>  
</section>
