<header>
    <div class="logo">
        <img src="https://s3-us-west-2.amazonaws.com/relacadop/Logo-Relac-Adop.png" alt="logo" class="logotipo">
        <img src="/assets/dibujo_ninos.svg" alt="pendex_svg" class="dibujo_ninos w3-animate-right">
    </div>
    <nav>
        <div class="nav_lista">
            <ul id="menu">
                <li class="link_inicio"><%= link_to "Inicio", root_path %></li>
                <li class="link_quienes_somos">
                    <%= link_to "Quienes Somos", pages_equipo_path %>
                    <ul>
                        <li class="link_quienes_somos"><%= link_to "Como Nace", pages_como_nace_path %></li>
                        <li class="link_quienes_somos"><%= link_to "Equipo", pages_equipo_path %></li>
                        <li class="link_quienes_somos"><%= link_to "Misión", pages_mision_path %></li>
                        <li class="link_quienes_somos"><%= link_to "Miembros", pages_colaboradores_path %></li>
                    </ul>
                </li>
                <li class="link_marco_legal">
                    <a href="#">Marco Legal</a>
                    <ul>
                        <li class="link_marco_legal"><%= link_to "Ley de Adopcion", marco_legal_ley_adopcion_path %></li>
                        <li class="link_marco_legal"><%= link_to "Convenio de la Haya", marco_legal_convenio_haya_path %></li>
                        <li class="link_marco_legal"><%= link_to "Codigo de la infancia", marco_legal_codigo_infancia_path %></li>
                        <li class="link_marco_legal"><%= link_to "Modificaciones", marco_legal_modificaciones_path %></li>
                        <li class="link_marco_legal"><%= link_to "Derechos del niño", marco_legal_derechos_nino_path %></li>
                    </ul>
                </li>
                <li class="link_actualidad">
                    <a href="#">Actualidad</a>
                    <ul>
                        <li class="link_actualidad"><%= link_to "Noticias", pages_noticias_path %></li>
                        <li class="link_actualidad"><a href="#">Actividades</a></li>
                        <li class="link_actualidad"><a href="#">Columna de Opinion</a></li>
                    </ul>
                </li>
                <li class="link_tu_parte">
                    <a href="#">Tu Parte</a>
                    <ul>
                        <li class="link_tu_parte"><%= link_to "Testimonios", pages_testimonios_path %></li>
                        <li class="link_tu_parte" id="modal_button"><a>Escribenos</a></li>
                        <!-- <li class="link_tu_parte"><a href="#">Formar parte</a></li> -->
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <div id="modal_congreso" class="congreso_modal">
        <span class="banner_close">x</span>
        <img src="https://s3-us-west-2.amazonaws.com/relacadop/Agenda-Contacto.png" alt="banner_congreso">    
    </div>

    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content w3-modal-content w3-animate-zoom">
            <span class="close">x</span>
            <p>Envianos un mensaje!</p>
            <%= form_for Message.new do |f| %>
                <%= f.text_field :name, placeholder: "NOMBRE" %> <br>
                <%= f.text_field :email, placeholder: "EMAIL" %> <br>
                <%= f.text_area :message, placeholder: "MENSAJE" %> <br>
                <%= f.submit "Enviar" %>
            <% end  %>
            <%#= mail_to "mraquelmoralesibanez@gmail.com" do %>
              <!-- <strong>O escribenos un mail a:</strong> 
              <span>raquelmoralesibanez@gmail.com</span>
              <span>ddelgatto@gmail.com</span>
              <span>gutierrez@cran.org.cospan</span> -->
            <%# end %>
        </div>
    </div>

    <script>
        window.addEventListener("scroll", function() {
          var nav = document.getElementsByClassName("nav_lista")[0];
          if(window.scrollY > 200) {
            nav.className += " " + "sticky";
            nav.style.top = 0;
          } else if (window.scrollY < 200) {
            nav.classList.remove("sticky");
            nav.style.top = null;
          }
        });

        // Get the modal
          var modal = document.getElementById('myModal');
          var modal_banner = document.getElementById("modal_congreso");
          // Get the button that opens the modal
          var btn = document.getElementById("modal_button");

          // Get the <span> element that closes the modal
          var span = document.getElementsByClassName("close")[0];
          var bannerSpan = document.getElementsByClassName("banner_close")[0];

          // When the user clicks on the button, open the modal 
          btn.onclick = function() {
              modal.style.display = "block";
          }

          // When the user clicks on <span> (x), close the modal
          span.onclick = function() {
              modal.style.display = "none";
          }

          bannerSpan.onclick = function() {
              modal_banner.style.display = "none";
          }

          // When the user clicks anywhere outside of the modal, close it
          window.onclick = function(event) {
              if (event.target == modal) {
                  modal.style.display = "none";
              }
          }

          window.onclick = function(event) {
              if (event.target == modal_banner) {
                  modal_banner.style.display = "none";
              }
          }

        window.onload = function() {
            modal_banner.style.display = "block";
        }
    </script>
</header>