<!DOCTYPE html>
<html class="no-skrollr">
<head>
	<title>Relacadop</title>
	<link rel="stylesheet" href="/assets/normalize.min.css">
	<link rel="stylesheet" href="/assets/wschool.css">
	<link rel="stylesheet" type="text/css" href="/assets/slick.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/slick-theme.css"/>
	<link href="https://fonts.googleapis.com/css?family=Droid+Sans|Oxygen|Proza+Libre|Roboto" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Abel|Open+Sans+Condensed:300" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Calligraffitti|Playball|Satisfy" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poiret+One|Quicksand" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Quicksand:700" rel="stylesheet">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>

<body>
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if admin_signed_in? %>
    	<div class="admin-buttons">
    		<%= link_to new_report_path do %>
    			<button class="new-report">NUEVA NOTICIA</button>
    		<% end %>
    		<%= link_to new_testimonial_path do %>
    			<button class="new-testimonial">NUEVO TESTIMONIO</button>
    		<% end %>
    		<%= link_to reports_path do %>
	    		<button class="manage-reports">ADMINISTRAR NOTICIAS</button>
	    	<% end %>
	    	<%= link_to pages_rakelita_path do %>
	    		<button class="view-messages">VER MENSAJES</button>
	    	<% end %>
	    	<%= link_to  destroy_admin_session_path, :method => :delete do %>
	    		<button class="sign-out">CERRAR SESIÓN</button>
	    	<% end %>
    	</div>
    <% end %>
	<%= render 'layouts/header' %>

	<%= yield %>

	<%= render 'layouts/footer' %>
	
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="/assets/slick.min.js"></script>
</body>
</html>
