<!DOCTYPE html>
<html>
<head>
	<title>Relacadop</title>
	<link rel="stylesheet" href="/assets/normalize.css">
	<link rel="stylesheet" type="text/css" href="/assets/slick-carousel/slick.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/slick-carousel/slick-theme.css"/>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>

<body>

<%= render 'layouts/header' %>

<%= yield %>

<%= render 'layouts/footer' %>

	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="/assets/slick.min.js"></script>
</body>
</html>
